@import 'tailwindcss';

@theme {
  --color-background: #0e231c;
  --color-card-bg: #1a2e26;
  --color-impact-card: #f4f7f2;
  --color-ui-dark: #0f2a22;

  --color-foreground: #0f172a;
  --color-foreground-muted: #1e293b;
  --color-foreground-lighter: #334155;
  --color-foreground-subtle: #475569;

  --color-muted-foreground: #64748b;
  --color-muted-foreground-subtle: #94a3b8;

  --color-subtle: #e2e8f0;
  --color-lighter: #f1f5f9;
  --color-background-muted: #f8fafc;

  --color-primary: #f49a40;
  --color-primary-hover: #e08930;
  --color-primary-light: #fbbf24;

  --color-emerald-accent: #10b981;
  --color-emerald-accent-hover: #059669;

  --color-blue-accent: #3b82f6;
  --color-indigo-accent: #818cf8;
  --color-indigo-accent-hover: #6366f1;
  --color-purple-accent: #a855f7;
  --color-red-accent: #f87171;
  --color-yellow-accent: #facc15;
  --color-green-accent: #4ade80;
  --color-orange-accent: #f97316;
}

:root {
  --background: #fff;
  --primary: #f49a40;
}

body {
  background-color: var(--background);
  color: white;
  margin: 0;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
}
